#settings {
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-width: 400px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 100;
}

#settings > div {
    min-height: 500px;
    height: 40%;
    width: 50%;
    min-width: 800px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px 60px;
}

#headerSetting {
    margin-bottom: 10px;
}

#settings input {
    margin: 0 !important;
}

#headerSetting button {
    outline: none;
    border: none;
    background: transparent !important;
    cursor: pointer;
}

#settings label {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
}

#headerSetting .plus {
    fill: rgba(255, 255, 255, 0.9);
}

.settingsBlock {
    border-top: rgba(185, 20, 149, 0.3) solid 1px;
    padding: 20px 0;
    margin-bottom: 10px;
}

#changeNameDiv input {
    width: 60%;
    max-width: 370px;
}

#settings button {
    background: rgba(51, 30, 213, 0.4);
}

#changeNameDiv button {
    width: 20%;
    margin-left: 20px;
}