#chat {
    display: grid;
    grid-template-rows: 1fr 120px;
    padding: 0 10%;
    box-sizing: border-box;
    overflow-y: hidden;
}

.inputDiv {
    position: relative;
}

#messageText {
    width: 100% !important;
    height: 60px;
    border-radius: 30px;
    border: rgba(255, 255, 255, 0.15) solid 1px;
    padding: 0 70px;
    font-size: 18px;
    margin: 0;
}

.sendSvg {
    fill: rgba(255, 255, 255, 0.4);
    position: absolute;
    right: 20px;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;
}

.sendSvg:hover {
    fill: rgba(255, 255, 255, 0.8);
}

.paperclip {
    fill: rgba(185, 20, 149, 0.4);
    position: absolute;
    left: 20px;
    transform: rotate(30deg);
    transition: fill 0.3s ease-in-out;
    cursor: pointer;
}

.paperclip:hover {
    fill: rgba(185, 20, 149, 0.6);
}

#messagesScroll {
    overflow-y: scroll !important;
    box-sizing: border-box;
    padding-right: 6px;
    position: relative;
}

#messages {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 10px;
    min-height: 100%;
}

#infoMessage {
    position: absolute;
    color: #FFFFFF;
    height: auto;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 16px;
    background: rgba(51, 30, 213, 0.4);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#inputImgDiv {
    position: absolute;
    top: -200px;
    left: 0;
    max-width: 100%;
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background: rgba(29, 29, 29, 0.4);
    flex-direction: column;
    color: rgba(185, 20, 149, 0.4);
    transition: color 0.2s ease-in-out;
}

#inputImgDiv:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    box-sizing: border-box;
    border: rgba(185, 20, 149, 0.4) dashed 2px;
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out;
}

#inputImgDiv > input[type="file"] {
    border: none;
    margin: 0;
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#inputImgDiv .uploadSvg {
    fill: rgba(185, 20, 149, 0.4);
    width: 80px;
    height: 80px;
    transition: fill 0.2s ease-in-out;
}

#inputImgDiv:hover {
    color: rgba(185, 20, 149, 0.6);
}

#inputImgDiv:hover .uploadSvg {
    fill: rgba(185, 20, 149, 0.6);
}

#inputImgDiv:hover:after {
    border-color: rgba(185, 20, 149, 0.6);
}

.unreadLabel {
    color: #FFFFFF;
    background:  rgba(185, 20, 149, 0.4);
    padding: 5px 0;
    margin: 15px auto;
    width: 250px;
    border-radius: 13px;
}

@media screen and (max-width: 670px) {
    #chat {
        padding: 0 5%;
    }
}