#chat {
    display: grid;
    grid-template-rows: 1fr 120px;
    padding: 0 10%;
    box-sizing: border-box;
    overflow-y: hidden;
}

.inputDiv {
    position: relative;
}

#messageText {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: rgba(255, 255, 255, 0.15) solid 1px;
    padding: 0 70px 0 20px;
    font-size: 18px;
    margin: 0;
}

.sendSvg {
    fill: rgba(255, 255, 255, 0.4);
    position: absolute;
    right: 20px;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;
}

.sendSvg:hover {
    fill: rgba(255, 255, 255, 0.8);
}

#messagesScroll {
    overflow-y: scroll !important;
    box-sizing: border-box;
    padding-right: 6px;
    position: relative;
}

#messages {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 10px;
    min-height: 100%;
}

#infoMessage {
    position: absolute;
    color: #FFFFFF;
    height: auto;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 16px;
    background: rgba(51, 30, 213, 0.4);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

@media screen and (max-width: 670px) {
    #chat {
        padding: 0 5%;
    }
}