.chats {
    border-right: rgba(255, 255, 255, 0.15) solid 1px;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
}

.contact {
    height: 100px;
    box-sizing: border-box;
    padding: 15px;
    transition: background 0.1s ease-in-out;
}

.contact:hover {
    background: rgba(255, 255, 255, 0.08) !important;
}

.chatInfo {
    height: 80px;
    margin-left: 25px;
    box-sizing: border-box;
    padding: 10px 0;
    flex-grow: 1;
    position: relative;
}

.chatInfo > h2 {
    margin-bottom: 10px;
    justify-content: flex-start;
}

.chatInfo > p {
    color: rgba(255, 255, 255, 0.4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
}

.chatInfo .senderName {
    color: rgba(255, 255, 255, 0.65);
}

.unread {
    display: inline-block;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    border-radius: 11px;
    background: rgba(185, 20, 149, 0.3);
    min-width: 12px;
    height: 22px;
    padding: 0 6px;
    box-sizing: content-box;
    margin-left: 8px;
}

#addChatDiv {
    position: absolute;
    top: 86%;
    height: 70px;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
}

.addChat {
    height: 70px;
    border-radius: 35px;
}

#addChatBth {
    width: 70px;
    outline: none;
    border: none;
    background: transparent;
    z-index: 2;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#addChatBth > .plus {
    fill: rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out;
}

#addChatBth:hover > .plus {
    transform: rotate(45deg);
}

#inputDivAdd {
    transition: width 0.3s ease-in-out, padding-right 0.2s ease-in;
    background: rgba(185, 20, 149, 0.4);
    position: relative;
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 20px;
}

#inputDivAdd > input {
    margin: 0;
    transition: width 0.25s ease-in-out;
    font-size: 14px;
    height: 30px;
}

#inputDivAdd > button {
    margin-left: 10px;
    transition: width 0.25s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#inputDivAdd > button:disabled {
    background: rgba(51, 30, 213, 0.2);
    color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 950px) {
    #inputDivAdd {
        padding-left: 15px;
    }
}

@media screen and (max-width: 900px) {
    .chatInfo {
        display: none;
    }

    #addChatDiv {
        position: fixed;
        top: 90vh;
        left: 0;
        padding: 0 15px;
        width: 400px;
    }

    #addChatBth {
        right: 0;
        left: 15px;
    }

    #inputDivAdd {
        float: left;
    }
}