/*reset style*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label,table, tbody, tfoot, thead, tr, th, td,
article, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

footer, header, article, nav {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

/*reset style*/

html {
    min-width: 400px !important;
    font-family: 'Montserrat', sans-serif;
    background: #000000 url("./img/back.png") no-repeat center center;
    background-size: cover;
}

.center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    outline: none;
    border: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar-track {
    background:transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 0 !important;
}